.correction-list > .mat-list-item {
  height: auto;
}

.color-red{
	color: red;
	background-color: red;
}

.color-green{
	color: green;
	background-color: green;
}

::ng-deep  .mat-list .mat-list-item{
  height:initial!important;
}
::ng-deep .mat-line{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
