<button mat-fab color="primary" class="position-absolute m-5" (click)="goBack()">
  <i class="material-icons">arrow_back</i>
</button>

<div class="container mt-5 h-100">
  <div class="row h-100">
    <div class="col-12 col-lg-4 col-md-4">
      <mat-card>
        <mat-card-title>Abgaben</mat-card-title>
        <mat-card-content
        fileDrop
        (filesDropped)="handleFileDrop($event)"
        (filesHovered)="dropzoneState($event)"
        [ngClass]="{'active': dropzoneActive}">
        <div id="dropzone" *ngIf="!submissionsAvaliable">
          Abgaben hinzufügen
        </div>
        <mat-list id="submissionsList" *ngIf="sheet" >
          <mat-list-item *ngFor="let submission of sheet.submissions" role="listitem">
            <h3 mat-line *ngIf="submission.student != null">{{submission.student.lastname}} {{submission.student.name}}</h3>
            <p mat-line class="text-grayed" *ngIf="submission.student != null"> {{ submission.student.mat_nr }} </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <button class="position-absolute" *ngIf="submissionsAvaliable" style="right: 80px;" mat-fab color="primary" (click)="clearSubmissions()">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="position-absolute" style="right: 10px;" mat-fab color="primary" onclick="document.getElementById('fileToUpload').click()">
        <mat-icon>publish</mat-icon>
      </button>
      <input id="fileToUpload" type="file" style="display:none;" (change)="handleFileSelection($event)" >
    </mat-card>
  </div>
    <div class="col-12 col-lg-4 col-md-4">
      <mat-card>
        <mat-card-title>Aufgaben</mat-card-title>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-lg-4 col-md-4">
      <button mat-raised-button color="primary" routerLink="/sheets/{{route.snapshot.paramMap.get('id')}}/correction">Starte Korrektur</button>
    </div>
</div>
</div>
