.mat-grid-tile .mat-figure { justify-content: left !important; }

#title {
  width:90% !important;
}

/*ol {
  counter-reset: item;
}
ol li {
  display: block;
  position: relative;
}
ol li:before {
  content: counters(item, ".")".";
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 10px; !* space between number and text *!
}*/

.mat-grid-tile-custom {
  overflow: visible!important;
}

.mat-grid-tile .mat-figure { justify-content: left !important; }

#titleInput {
  width:90% !important;
}

.rangeInput {
  width:60px !important;
}

.regexInput {
  width:160px !important;
}

.mat-grid-tile-custom {
  overflow: visible!important;
}

ol li .alignLabel {
  display:block;
}

