.mat-grid-tile .mat-figure { justify-content: left !important; }

#title {
  width:90% !important;
}

.mat-grid-tile-custom {
  overflow: visible!important;
}

ol li .alignLabel {
  display:block;
}

