.mat-grid-tile .mat-figure { justify-content: left !important; }

#titleInput {
  width:90% !important;
}

.rangeInput {
  width:60px !important;
}

.regexInput {
  width:160px !important;
}

.mat-grid-tile-custom {
  overflow: visible!important;
}

ol li .alignLabel {
  display:block;
}

