<button mat-fab color="primary" class="position-absolute m-5" (click)="exit()">
  <i class="material-icons">exit_to_app</i>
</button>

<button mat-fab color="primary" class="position-absolute submissions-prev mt-1" (click)="navigateSubmissions(-1)">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>

<button mat-fab color="primary"  class="position-absolute submissions-next mb-2" (click)="navigateSubmissions(1)" >
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>

<button mat-fab color="primary"  class="position-absolute tasks-prev ml-2" (click)="navigateTasks(-1)">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

<button mat-fab color="primary"  class="position-absolute tasks-next mr-2" (click)="navigateTasks(1)">
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>

<div class="container mt-5 h-100">
  <div class="row">
    <div class="col-lg-3 col-md-3 col">
      <mat-card class="h-100 scroll-overview material-scroll">
        <mat-card-title>Abgaben</mat-card-title>
        <mat-card-content class="d-flex justify-content-center align-items-center h-100">
          <mat-spinner *ngIf="loadingSubmissions"></mat-spinner>
          <mat-nav-list *ngIf="!loadingSubmissions">
            <mat-list-item *ngFor="let submission of submissions" role="listitem" class="list-selectable"
                           [class.active]="submission._id === selected_submission"
                           (click)="selected_submission = submission._id">
              {{ submission._id }}
            </mat-list-item>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col h-100">
      <app-correction-interface [task_id]="selected_task" [submission_id]="selected_submission"></app-correction-interface>
    </div>
    <div class="col-lg-3 col-md-3 col">
      <mat-card>
        <mat-card-title>Aufgaben</mat-card-title>
        <mat-card-content class="d-flex justify-content-center align-items-center h-100">
          <mat-spinner *ngIf="loadingExercisesWithTasks"></mat-spinner>
          <mat-nav-list *ngIf="!loadingExercisesWithTasks">
            <ng-container *ngFor="let exercise of exercises; let exerciseIndex = index;">
              <h3 matSubheader>{{exerciseIndex}}. {{exercise.name}}</h3>
              <mat-list-item *ngFor="let task of exercise.tasks; let taskIndex = index;"
                             (click)="selected_task = task._id"
                             [class.active]="selected_task === task._id">
                <h4 matLine>{{taskIndex}}.) {{task.question}}</h4>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

