<button mat-fab color="primary" class="position-absolute m-5" (click)="exit()">
  <i class="material-icons">exit_to_app</i>
</button>

<button mat-fab color="primary" class="position-absolute submissions-prev mt-1">
  <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_up</mat-icon>
</button>

<button mat-fab color="primary"  class="position-absolute submissions-next mb-2" (click)="nextSubmission()" >
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>

<button mat-fab color="primary"  class="position-absolute tasks-prev ml-2">
  <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_left</mat-icon>
</button>

<button mat-fab color="primary"  class="position-absolute tasks-next mr-2">
  <mat-icon >keyboard_arrow_right</mat-icon>
</button>

<div class="container mt-5 h-100">
  <div class="row">
    <div class="col-lg-3 col-md-3 col">
      <mat-card>
        <mat-card-title>Abgaben</mat-card-title>
        <mat-card-content class="d-flex justify-content-center align-items-center h-100">
          <mat-spinner *ngIf="loadingSubmissions"></mat-spinner>
          <mat-list *ngIf="!loadingSubmissions">
            <mat-list-item *ngFor="let submission of submissions" role="listitem" class="list-selectable"
                           [class.active]="submission._id === selected_submission"
                           (click)="selected_submission = submission._id">
              {{ submission._id }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col h-100">
      <app-correction-interface [task_id]="selected_task" [submission_id]="selected_submission"></app-correction-interface>
    </div>
    <div class="col-lg-3 col-md-3 col">
      <mat-card>
        <mat-card-title>Aufgaben</mat-card-title>
        <mat-card-content class="d-flex justify-content-center align-items-center h-100">
          <mat-spinner *ngIf="loadingExercisesWithTasks"></mat-spinner>
          <mat-list *ngIf="!loadingExercisesWithTasks">
            <mat-list-item *ngFor="let exercise of exercises" role="listitem">
              <h6 mat-line>{{exercise.name}}</h6>
              <mat-list mat-line>
                <mat-list-item *ngFor="let task of exercise.tasks" role="listitem" class="list-selectable"
                               [class.active]="task === selected_task" (click)="selected_task = task">
                  {{task}}
                </mat-list-item>
              </mat-list>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

