<div class="container-fluid p-0 h-100">
  <mat-toolbar color="primary" class="shadow-lg" >
    <mat-toolbar-row>
      <span>Sheets</span>
      <span class="fill-space"></span>
      <div *ngIf="userLoggedIn">
        <span>
          <button mat-icon-button id="accountIcon" title="Profil" (click)="goToProfile()">
            <mat-icon [inline]="true" color="secondary">account_circle</mat-icon>
          </button>
        </span>
        <span>
          <button mat-icon-button id="logoutIcon" title="Logout" (click)="logout()">
            <mat-icon [inline]="true" color="secondary">exit_to_app</mat-icon>
          </button>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>


