#editIcon {
  float: right;
  font-size: 48px;
}

.tileClass {
  justify-content: right !important;
  float: left !important;
  text-align: left !important;
}

#toggleButton {
  left: 170px;
  top: 50px;
}

.userLine:hover {
  cursor: pointer;
  text-decoration: underline;
}

.closeIcon {
  float: right;
  text-decoration: #555555;
}


.closeIcon:hover {
  text-decoration: black;
}
