<h2 mat-dialog-title>
  Übungsblatt erstellen
</h2>
<mat-dialog-content>
  <mat-radio-group [(ngModel)]="useTemplate">
    <mat-radio-button [value]="true">
      Aus Vorlage:<br>
      <div *ngIf="sheets.length > 0">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedSheetId">
            <mat-option *ngFor="let sheet of sheets" matInput value={{sheet._id}}>{{ sheet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-radio-button>
    <mat-divider></mat-divider>
    <br>
    <mat-radio-button [value]="false">
      Neues Übungsblatt
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose(false)">Abbrechen</button>
  <button mat-button (click)="onClose(true)">Erstellen</button>
</mat-dialog-actions>

