<h2 mat-dialog-title>
  Übungsblatt erstellen
</h2>
<mat-dialog-content>
  <mat-radio-group [(ngModel)]="useTemplate">
    <div *ngIf="courses && courses.length > 0">
      <mat-radio-button [value]="true">
        Aus Vorlage:<br>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedSheetId">
            <mat-optgroup *ngFor="let course of courses" [label]="course.name">
              <mat-option *ngFor="let sheet of course.sheets" value={{sheet._id}}>{{ sheet.name }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </mat-radio-button>
    </div>
    <mat-divider></mat-divider>
    <br>
    <mat-radio-button [value]="false">
      Neues Übungsblatt
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose(false)">Abbrechen</button>
  <button mat-button (click)="onClose(true)">Erstellen</button>
</mat-dialog-actions>

